body{
 /* this changes the background colour of the whole page, changed from black to red to fit theme*/
    background-color: grey;
   
    
}

#gameboard { 
  display: block;

}
 /* this determins the area in which the game takes place*/
#game-wrapper { 
    margin:0 auto; 
    width: 500px;

}
 /* this changes the css of the lifes function allowing to change colour, size font ect*/
#game-wrapper #lives {
    color: white;
    font-weight: 50;
    font-family: arial bold;
    font-size: 40px;
    text-align: left;
    float: left; 
    padding: 10;
}
/* this changes the css of the score function allowing to change colour, size font ect*/
#game-wrapper #score {
    color: white;
    font-weight: 50;
    font-family: arial bold;
    font-size: 40px;
    text-align: right;
    float: right;
    padding: 10;
    
}
#title  {
    margin:0 auto; 
    width: 500px;
}